* {
  font-family: 'Barlow', sans-serif;
  outline: 0
}

.document-box {
  width: 100%; 
}

.document-item {
  width: 970px; 
  margin-left: auto; 
  margin-right: auto;
}

.document-item .inner-box {
  margin-top: 60px; 
  padding: 20px 150px 20px 20px; 
  float: left; 
  border-radius: 2px; 
}

.document-item .title {
  font-size: 32px; 
  font-weight: 600; 
  color: #FDE1CC; 
  text-decoration: none;
}

.document-item .action-box {
  margin-top: 70px; 
}

.document-item button.action {
  height: 50px; 
  padding: 7px 20px 10px 20px; 
  background-color: #FDE0CC; 
  color: #0C1A24;
  border-radius: 30px; 
  font-size: 24px; 
  font-weight: 500;
  border: 0px solid; 
  float: left; 
}

.document-item .more-info {
  background-image: url('./assets/img/more-info.svg');
  width: 50px; 
  height: 50px; 
  background-size: cover;
  background-repeat: no-repeat;
  float: left; 
  margin-left: 20px; 
}
