* {
  font-family: 'Barlow', sans-serif;
  outline: 0
}

body {
  background-color: rgba(253, 224, 204, 0.05)
}

.left {
  float: left; 
}

.right {
  float: right;
}

.document-box {
  width: 100%; 
}

.document-item {
  width: 900px; 
  margin-left: auto; 
  margin-right: auto;
}

.document-item .inner-box {
  margin-top: 40px; 
  float: left; 
  border-radius: 2px; 
  width: 100%; 
}

.document-item .inner-box .content {
  padding: 20px 150px 20px 20px; 
  float: left; 
}

.document-item .title {
  font-size: 28px; 
  font-weight: 600; 
  color: #FDE1CC; 
  text-decoration: none;
}

.document-item .action-box {
  margin-top: 50px; 
}

.document-item button.action {
  height: 40px; 
  padding: 4px 15px 7px 15px; 
  background-color: #FDE0CC; 
  color: #0C1A24;
  border-radius: 30px; 
  font-size: 20px; 
  font-weight: 500;
  border: 0px solid; 
  float: left; 
  cursor: pointer;
}

.document-item .more-info {
  background-image: url('./assets/img/more-info.svg');
  width: 40px; 
  height: 40px; 
  background-size: cover;
  background-repeat: no-repeat;
  float: left; 
  margin-left: 17px; 
}

.extract-word-item-box {
  float: left; 
  margin-right: 6px;
  margin-bottom: 15px;
  cursor: pointer;
}

.extract-word-item-box span {
  background-color: rgba(255, 239, 229, 1);
  float: left;
  border-radius: 2px; 
}


.extract-word-item-box.inactive {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: default;
}

.extract-word-item-box.inactive span {
  background-color: rgba(255, 255, 255, 0.4);
}

.extract-word-item-box .character {
  font-weight: 600; 
  font-size: 24px; 
  color: #0C1A24; 
  padding: 3px 9px 3px 5px; 
  font-style: italic;
}

.extract .sentence-box {
  width: 100%; 
  margin: auto;
  float: left; 
  padding: 30px 0 110px 0;
}

.extract .sentence-box .inner-box {
  padding: 20px 12px 5px 20px;
  border-radius: 2px;
  width: 700px; 
  margin: auto;
}

.extract .sentence-box .inner-box .content {
  margin: auto; 
  width: fit-content;
}

.extract {
  background-color: rgba(13, 26, 37, 0.1);
  width: 100vw; 
  height: 100vh; 
}

.extract .sentence-control-box {
  float: left; 
  width: 100%; 
}

.extract .sentence-control-box .inner-box {
  width: 700px; 
  margin: auto; 
}

.extract .sentence-control-box .done {
  width: 50px; 
  height: 50px; 
  border-radius: 40px; 
  background-color: rgba(12, 26, 36, 0.8);
  transition: background-color ease-in-out 0.13s;
  float: right; 
  background-image: url('./assets/img/accept-button.svg');
  background-size: 50%; 
  background-position: center; 
  background-repeat: no-repeat;
}

.extract .sentence-control-box .done:hover {
  background-color: rgba(12, 26, 36, 1);
  transition: background-color ease-in-out 0.13s
}

.extract .sentence-control-box .prev {
  float: left; 
  font-weight: 700; 
}

.extract .sentence-control-box .next {
  float: right;
  font-weight: 700; 
}

.extract .editor-box {
  float: left; 
  width: 100%; 
}

.extract .editor-box .inner-box {
  width: 700px; 
  margin: auto; 
  background-color: rgba(255, 250, 246, 1); 
  border-radius: 2px; 
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
}

.extract .editor-box .inner-box .content {
  padding: 50px 20px;
  margin-top: 15px; 
}

.editor-box .triple-box {
  width: 100%; 
  border-top: 0.5px solid rgba(12, 26, 36, 0.4);
  border-bottom: 0.5px solid rgba(12, 26, 36, 0.4)
}

.editor-box .triple-box .subject, .editor-box .triple-box .predicate, .editor-box .triple-box .object {
  float: left; 
  width: 200px; 
}

.extract .create-tournament-box {
  float: left; 
  width: 100%; 
}

.extract .create-tournament-box .inner-box {
  width: 400px; 
  margin: auto; 
  background-color: rgba(255, 250, 246, 1); 
  border-radius: 2px; 
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
}

.extract .create-tournament-box .inner-box .content {
  padding: 50px 20px;
  margin-top: 100px; 
}

.extract .create-tournament-box .inner-box .content .title {
  font-size: 20px; 
  color: rgba(255, 250, 246, 1);
  font-weight: 600;
}

.extract .create-tournament-box .inner-box .content .divider {
  margin-top: 16px;
  height: 2px; 
  width: 100px; 
  background-color: rgba(255, 250, 246, 1);
}

.extract .create-tournament-box .inner-box .content .description {
  font-size: 16px; 
  color: rgba(255, 250, 246, 1);
  margin-top: 12px; 
}

.extract .create-tournament-box .inner-box .content .button-box {
  margin-top: 28px; 
  margin-bottom: 0px;
  display: flex;
}

.extract .create-tournament-box .inner-box .content .tournament-created-box input {
  padding: 8px 5px 8px 28px; 
  font-size: 14px;
  border: 0; 
  background-color:#fdede1; 
  border-radius: 2px;
  margin-top: 8px;
  width: 300px;
  background-image: url('./assets/img/copy.svg'); 
  background-repeat: no-repeat;
  background-size: 16px; 
  background-position: 5px center;
}

.extract .create-tournament-box .inner-box .content .tournament-created-box .button-box {
  margin-top: 14px;
}

.extract .create-tournament-box .inner-box .content .primary-action {
  height: 20px; 
  background-color: #FDE0CC; 
  float: left; 
  font-size: 16px; 
  color: #0C1A24; 
  border-radius: 20px; 
  cursor: pointer;
  font-weight: 500; 
  border: 2px solid transparent;
  padding: 7px 15px; 
}

.extract .create-tournament-box .inner-box .content .secondary-action {
  height: 20px; 
  background-color: transparent; 
  float: left; 
  font-size: 16px; 
  color: #0C1A24; 
  border-radius: 20px; 
  cursor: pointer;
  font-weight: 500; 
  border: 2px solid #FDE0CC; 
  padding: 7px 15px; 
  margin-left: 20px;
}

.landing-box {
  margin: auto; 
}

.landing-box .inner-box {
  background-color: #fff; 
  border-radius: 2px; 
  padding: 20px; 
  float: left; 
  width: 100%; 
  margin: 25px 0;
}

.predicate-box {
  width: 770px; 
  margin: auto; 
}

.predicate-box .inner-box {
  background-color: #FE4365; 
  float: left; 
  padding: 20px 12px 5px 20px;
  border-radius: 2px;
  width: 100%; 
}

.extract-predicate-item-box {
  float: left; 
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px; 
  margin-right: 8px;
  margin-bottom: 15px;
}

.extract-predicate-item-box .checkbox {
  width: 15px; 
  height: 15px; 
  border-radius: 15px; 
  float: left; 
  background-color:#fff; 
  transition: background-color 0.2s ease-in-out;
  margin: 5px; 
  border: 1px solid rgba(12, 26, 36, 1);
}

.extract-predicate-item-box .checkbox .inner-knob {
  width: 13px; 
  height: 13px; 
  margin: 1px auto 0 auto; 
  border-radius: 6px;
  background-color: rgba(12, 26, 36, 0.7);
  display: none;
}

.extract-predicate-item-box:hover {
  cursor: pointer; 
}

.extract-predicate-item-box:hover .checkbox .inner-knob {
  display: block;
}

.extract-predicate-item-box .label {
  float: left; 
  color: #0C1A24;
  margin: 2px 5px 2px 0px; 
}

.sentence-item {
  float: left; 
  border-radius: 2px; 
  margin-left: 10px;
  margin-right: 10px; 
  width: calc(33% - 20px); 
  margin-top: 20px; 
}

.sentence-box {
  width: 950px; 
  margin-left: auto; 
  margin-right: auto;
}

.login-box {
  background-color: #459999; 
  width: 100%; 
  height: 450px; 
}

.login-box .inner-box {
  width: 970px; 
  padding: 30px; 
  margin-left: auto; 
  margin-right: auto; 
}

.login-box .inner-box .login-label {
  clear: left; 
  color: #FDE1CC; 
  font-weight: 600; 
  font-size: 32px;
  padding-top: 50px; 
}

.login-box .inner-box .password-label {
  clear: left; 
  color: #FDE1CC; 
  font-weight: 500; 
  font-size: 24px;
  padding-top: 50px; 
}

.login-box .inner-box .login-email {
  clear: left; 
  background-color: rgba(255, 255, 255, 0.3); 
  border: 0; 
  border-bottom: 3px solid #FDE0CC; 
  width: 50%; 
  font-size: 28px; 
  color: #FDE1CC; 
  margin-top: 15px;
  padding: 10px; 
  float: left; 
}

.login-box .inner-box .login-password {
  clear: left; 
  background-color: rgba(255, 255, 255, 0.3); 
  border: 0; 
  border-bottom: 3px solid #FDE0CC; 
  width: 50%; 
  font-size: 24px; 
  color: #FDE1CC; 
  margin-top: 10px;
  padding: 8px; 
  float: left; 
}

.login-box .inner-box .login-next {
  clear: left; 
  background-color: #FDE0CC; 
  border-radius: 25px; 
  text-align: center; 
  padding: 9px 18px; 
  color: #0C1A24; 
  float: left; 
  font-size: 24px; 
  font-weight: 500; 
  margin-top: 35px; 
  cursor: pointer;
}

.header-box {
  height: 55px; 
  width: 100vw; 
  border-bottom: 4px solid #FDE0CC;
  background-color: rgba(253, 224, 204, 0.1)
}

.header-box .profile-box {
  float: right; 
  padding: 7.5px 30px 7.5px 30px; 
}

.header-box .profile-box .profile-label {
  float: left;
  margin: 8px 15px auto auto;
  font-size: 20px; 
}

.header-box .profile-box .profile-menu {
  width: 40px; 
  height: 40px; 
  border-radius: 20px; 
  background-color: rgb(253, 224, 204); 
  float: left; 
}

.superhero .title {
  font-size: 40px; 
  font-weight: 700; 
  color: #FDE1CC; 
  line-height: 56px;
}

.superhero {
  background-color: #FE4365; 
  width: 100%; 
  float: left; 
}

.superhero .inner-box {
  margin: 60px auto; 
  width: 1170px;
}

.document-box .upload-button {
  background-color: #FDE1CC; 
  border: 0; 
  border-radius: 30px; 
  font-size: 28px; 
  font-weight: 500; 
  padding: 5px 20px;
}

.document-box .dropzone {
  margin-top: 80px;
  height: 70px;
  width: 300px;
  border-width: 2px;
  border-color:rgba(253, 225, 204, 1);
  border-style: dashed;
  border-radius: 5px;
  cursor: pointer;
}

.document-box .dropzone .loader {
  background-image: url('./assets/img/loader.svg');
  width: 60px; 
  height: 15px; 
  background-position: center;
  background-size: contain;
}

.document-box .dropzone .loading-box, .document-box .dropzone .landing-box {
  padding: 15px; 
}

.document-box .dropzone .loader-label {
  margin-bottom: 7px; 
  font-size: 14px; 
  color: rgba(13, 26, 37, 0.4);
}

.document-box .dropzone .landing-label {
  margin-top: 8px; 
  font-size: 20px; 
  color: rgba(13, 26, 37, 0.4); 
}

.sentence-context-box {
  background-color: #0C1A24; 
  width: 100%; 
}

.sentence-context-box .inner-box {
  padding: 10px; 
}

.dropzone-box {
  float: left;
  width: 100%;
}

.dropzone-box .dropzone {
  width: 900px; 
  margin-left: auto; 
  margin-right: auto;
}

.superhero button.primary-action {
  height: 50px; 
  padding: 7px 20px 10px 20px; 
  background-color: #FDE0CC; 
  color: #0C1A24;
  border-radius: 30px; 
  font-size: 24px; 
  font-weight: 500;
  border: 0px solid; 
  float: left; 
  cursor: pointer;
}

.superhero .action-box {
  display: flex;
  margin-top: 50px;
}

.superhero button.secondary-action {
  height: 50px; 
  padding: 7px 20px 10px 20px; 
  border: 3px solid #FDE0CC; 
  color: #0C1A24;
  border-radius: 30px; 
  font-size: 24px; 
  font-weight: 500;
  float: left; 
  background-color: transparent;
  cursor: pointer;
  margin-left: 15px;
}

.superhero .progress-box {
  margin-top: 30px;
}

.superhero .progress-box .label {
  font-weight: 500; 
  color: #FDE0CC; 
  font-size: 18px; 
}

.superhero .progress-box .bar {
  width: 300px; 
  height: 5px;
  margin-top: 8px;
  background-color: rgba(253, 225, 204, 0.3);
  position: relative
}

.superhero .progress-box .progress {
  height: 5px; 
  background-color: rgba(253, 225, 204, 1);
  width: 0;
}

.close-game-box {
  background-image: url('./assets/img/cancel.svg');
  width: 30px; 
  height: 30px; 
  background-size: cover;
  background-repeat: no-repeat;
  float: left; 
  margin-left: 20px; 
  margin-top: 12.5px; 
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
}

.close-game-box:hover {
  opacity: 1; 
  transition: opacity 0.15s ease-in-out;
}

.triple-item-box {
  width: 100%; 
  border-top: 0.5px solid rgba(12, 26, 36, 0.8);
  border-bottom: 0.5px solid rgba(12, 26, 36, 0.8);
  position: relative; 
  padding-top: 5px; 
  padding-bottom: 5px;
}

.triple-item-box .points-to-earn-box {
  margin-left: -60px; 
  width: 30px; 
  height: 30px; 
  background-color: #000; 
  float: left; 
  border-radius: 20px;
  color: #fff; 
}

.tournament-header-box {
  border-right: 0.5px solid rgba(12, 26, 36, 0.3);
  border-left: 0.5px solid rgba(12, 26, 36, 0.3);
  border-bottom: 0.5px solid rgba(12, 26, 36, 0.3);
  width: 100%; 
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: pointer;
}

.tournament-header-box .inner-box {
  padding: 15px; 
}

.tournament-box {
  position: fixed; 
  top: 0; 
  right: calc(50% - 250px); 
  width: 500px;
}

.tournament-box .popup-box {
  background-color: #fefaf7; 
  width: 100%; 
  position: relative;
  z-index: 9999; 
  border-radius: 3px; 
  margin-top: 10px;
}

.tournament-box .popup-box:before {
  content: ""; 
  position: absolute;
  border-bottom: 10px solid #fefaf7; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  top: -5px; 
  left: 15px; 
}

.accept-invite-box {
  background-color: #fefaf7; 
  width: 100vw; 
  height: 100vh; 
  position: fixed;
}

.accept-invite-box .card-box {
  background-color: #459999; 
  border-radius: 2px; 
  width: 350px; 
  margin-left: auto; 
  margin-right: auto; 
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.30); 
  margin-top: 100px;
  padding: 50px 20px;
  display: flex;
}

.accept-invite-box .card-box .inner-box .content .title {
  font-size: 20px; 
  color: rgba(255, 250, 246, 1);
  font-weight: 600;
}

.accept-invite-box .card-box .inner-box .content .divider {
  margin-top: 16px;
  height: 2px; 
  width: 100px; 
  background-color: rgba(255, 250, 246, 1);
}

.accept-invite-box .card-box .inner-box .content .description {
  font-size: 16px; 
  color: rgba(255, 250, 246, 1);
  /*color: #FDE0CC;*/
  margin-top: 12px; 
}

.accept-invite-box .card-box .inner-box .content .button-box {
  margin-top: 14px;
}

.accept-invite-box .card-box .inner-box .content .primary-action {
  height: 20px; 
  background-color: rgba(255, 250, 246, 1);
  float: left; 
  font-size: 16px; 
  color: #0C1A24; 
  border-radius: 20px; 
  cursor: pointer;
  font-weight: 500; 
  border: 2px solid transparent;
  padding: 7px 15px; 
}

.accept-invite-box .card-box .inner-box .content input {
  padding: 6px 10px 6px 3px;
  width: 100%; 
  border: 0; 
  border-radius: 2px; 
  background-color: rgba(255, 250, 246, 1);
  font-size: 16px; 
  margin-top: 4px; 
  margin-bottom: 5px;
}

/*.extract-word-item-box.send, .extract-word-item-box.receive {
  position: relative;
}*/
/*
.extract-word-item-box.send::before {
  content: "";
  position: absolute;
  width: 6px; 
  height: 12px; 
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px; 
  background-color: #7194ab; 
  top: calc(50% - 6px)
}

.extract-word-item-box.send::after {
  content: "";
  position: absolute;
  width: 6px; 
  height: 12px; 
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px; 
  background-color: #7194ab; 
  top: calc(50% - 6px); 
  right: 0;
}

.extract-word-item-box.receive::after {
  content: "";
  position: absolute;
  width: 6px; 
  height: 12px; 
  border-top-right-radius: 10px; 
  border-bottom-right-radius: 10px; 
  background-color: #ffefe5; 
  top: calc(50% - 6px); 
  right: -6px;
}

.extract-word-item-box.receive::before {
  content: "";
  position: absolute;
  width: 6px; 
  height: 12px; 
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px; 
  background-color: #ffefe5; 
  top: calc(50% - 6px); 
  left: -6px;
}
*/